fieldset{
    margin-bottom: 20px;
}

div{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: pink;
    border: 2px solid red;
    float: left;
    margin: 2px;
}

number{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px solid red;
    float: left;
    margin: 2px;
}

.bonus{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px solid blue;
    float: left;
    margin: 2px;
}